* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}


/* inicio Cabezera de la pagina web */
nav {
    margin-top: 20px;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 15px;
}

ul li {
    list-style: none;
    margin: 0 20px 20px 20px;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    font-family: fantasy;
    opacity: unset;
    color: rgba(0, 0, 0, 0.888);
    border-bottom: 2px solid transparent; /* Prepara un borde transparente */
    transition: border-color 0.3s; /* Hace la transición suave */
}

ul li a:hover {
    border-bottom-color: currentColor; /* Cambia el color del borde al color actual del texto al hacer hover */
}
/* final de la cabezera */

/* inicio de la primera seccion de la pagina */
.section-1{
    display: flex;
    background-color: rgb(21, 92, 145);
    margin: 0 30px 0 30px;
    border-radius: 20px;
    height: 500px;
}
.section-1-div1{
    padding: 9em 20px 10px 50px;
}
.section-1-div1 h1{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: aqua;
}
.section-1-div1 p {
    font-size: 1.5em;
    font-family: cursive;
    color: aqua;
}
.section-1-div2 img{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
/* fin de la primera seccion */

/* inicio de la segunda section de la pagina */
.section-2-div1 h1{
    margin-top: 1em;
    font-family: cursive;
    text-align: center;
    font-weight: bold;
     
}


.container-card{
    background-color: rgb(233, 0, 138);
    margin: 10px 30px 30px 30px;
    border-radius: 20px;
    display: flex;
    height: 500px;
}

.container-card img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-text{
    margin: 15%;
}

.card-text h2{
    color: aqua;
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text h3{
    color: aquamarine;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text a{
    color: rgba(255, 255, 0, 0.519);
    margin-top: 10px;
    padding-top: 30px;
    font-size: 3em;
}


.card-text a:hover{
    text-decoration: underline;
    padding: 10px;
}